<h2>検索一覧</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがCustomerの時 -->
  <% if @model == "customer" %>
    <thead>
      <tr>
        <th>会員検索結果"<%= @content %>"</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |customer| %>
        <tr>
          <td><%= customer.name %></td>
        </tr>
      <% end %>
    </tbody>
  <!--検索対象モデルがCustomerではない時(= 検索対象モデルがStoreの時) -->
  <% elsif @model == "store" %>
    <thead>
      <tr>
        <th>店舗検索結果"<%= @content %>"</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |store| %>
        <tr>
          <td>
            <% if store.image.attached? %>
              <%= image_tag store.image, size: "100x100" %>
            <% else %>
              <%= image_tag "no_image", size: "100x100" %>
            <% end %>
          </td>
          <td><%= link_to store.name, store_path(store.id) %></td>
          <td><%= store.genre_name %></td>
          <td><%= store.postcode %></td>
          <td><%= store.address %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>