<h3>会員詳細</h3>
<table>
  <tr>
    <th>
      <% if @cusotmer.image.attached? %>
        <%= image_tag @customer.image, size: "200x200" %>
      <% else %>
        <%= image_tag "no_image", size: "200x200" %>
      <% end %>
    </th>
    <td><%= @customer.name %></td>
  </tr>
</table>

<h3>レビュー一覧</h3>
<table>
  <% @reviews.each do |review| %>
  <tr>
    <td><%= review.title %></td>
    <td><%= image_tag review.get_image, size: "100x100" %></td>
  </tr>
  <% end %>
</table>