<h3>レビュー一覧</h3>
<p><%= link_to "新規投稿はこちら", new_review_path %></p>
<table>
  <thead>
    <tr>
      <th>レビュー</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
    <tr>
      <td><%= review.title %></td>
      <td><%= image_tag review.get_image, size: "100x100" %></td>
      <td>
        <div id="star-rate<%= review.id%>"></td>
         <script>
          $('#star-rate<%= review.id %>').empty();
          $('#star-rate<%= review.id%>').raty({
             size      : 36,
             starOff   : '<%= asset_path('star-off.png') %>',
             starOn    : '<%= asset_path('star-on.png') %>',
             half      : false,
             readOnly: true,
             score: <%= review.star %>,
           });
         </script>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>